:host {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border-radius: 8px;
    border-color: gray;
    border-style: dotted;
    border-width: 2px;
    padding: 0px;
    margin-bottom: 10px;
    overflow: hidden;
    font-size: larger;
    cursor: pointer;
}

.top-line {
    display: flex;
}

.text {
    margin: 20px;
    flex-grow: 1;
}

.failed {
    color: red;
}

.finished {
    color: darkgreen;
}

.uploadingIcon {
    animation: spinner 1.2s linear infinite;
    display: inline-block;
}

@keyframes spinner {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.bottom-line {
    height: 4px;
}

.not-started-line {
    background-color: grey;
}

.failed-line {
    background-color: red;
}

.finished-line {
    background-color: darkgreen;
}
