node_modules
.DS_STORE
.firebaserc
src/environments/firebaseConfig.prod.ts
src/environments/firebaseConfig.ts
frontend/src/environments/firebaseConfig.prod.ts
frontend/src/environments/firebaseConfig.ts
frontend/dist
cloud_functions/firebase-debug.log
.vscode/launch.json
