<div *ngIf="clipsService.user !== null">
  <mat-toolbar>
    <span>Clipz</span>
    <span class="flex-spacer"></span>
    <span class="logged-in-as">Logged in as &nbsp;</span>
    <span class="email">{{ clipsService.user.email}}</span>
    <button matTooltip="Logout" class="header-button" mat-raised-button (click)="logOut()">
      👋
    </button>
    <button matTooltip="Delete account" class="header-button" mat-raised-button (click)="deleteAccount()">
      ☠️
    </button>
  </mat-toolbar>

  <div class="clipz-container" *ngIf="clipz !== null">
    <div class="drag-overlay" (drop)="onDrop($event)" (dragover)="onDragOver($event)"></div>
    <div class="clipz-list">
      <app-upload *ngFor="let upload of clipsService.uploads" [upload]="upload">
      </app-upload>

      <app-clip *ngFor="let clip of clipz" [clip]="clip">
      </app-clip>
    </div>

    <div class="explanation" *ngIf="clipz.length < 1">
      <div>Add by pasting</div>
      <div class="explanation-row">
        <span class="key">⌘</span> + <span class="key">V</span>
      </div>
      <div>or</div>
      <div class="explanation-row">
        <span class="key">Ctrl</span> + <span class="key">V</span>
      </div>
    </div>
  </div>
</div>