<div class="mat-app-background" *ngIf="user !== null">
  <mat-toolbar>
    <span>Clipz</span>
    <span class="flex-spacer"></span>
    <span class="logged-in-as">Logged in as &nbsp;</span>
    <span class="email">{{user.email}}</span>
    <button matTooltip="Logout" class="header-button" mat-raised-button (click)="logOut()">
      👋 Logout
    </button>
    <button matTooltip="Delete account" class="header-button" mat-raised-button (click)="deleteAccount()">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-toolbar>

  <div *ngIf="clipz !== null">
    <div *ngFor="let clip of clipz">
      {{clip.text}} | {{clip.time?.toDate()}}
    </div>
  </div>
</div>