<div *ngIf="clipsService.user !== null">
  <mat-toolbar color="primary">
    <span>Clipz</span>
    <span class="flex-spacer"></span>
    <span class="logged-in-as">Logged in as &nbsp;</span>
    <span class="email">{{ clipsService.user.email}}</span>
    <button matTooltip="Logout" class="header-button" mat-raised-button (click)="logOut()">
      👋
    </button>
    <button matTooltip="Delete account" class="header-button" mat-raised-button (click)="deleteAccount()">
      ☠️
    </button>
  </mat-toolbar>

  <div class="main-columns">
    <!-- CLIPZ -->
    <div class="clips-container" *ngIf="clipz !== null">
      <div class="no-clips-yet" *ngIf="clipz.length < 1">Nothing yet...</div>

      <app-upload *ngFor="let upload of clipsService.uploads" [upload]="upload">
      </app-upload>

      <app-clip *ngFor="let clip of clipz" [clip]="clip">
      </app-clip>
    </div>

    <!-- RIGHT COLUMN -->
    <div class="right-row-container">
      <div>Add text by pasting</div>
      <div>
        <span class="key">⌘</span> + <span class="key">V</span>
      </div>
      <div>or</div>

      <div class="drag-drop-box" (drop)="onDrop($event)" (dragover)="onDragOver($event)">
        Drop files here
      </div>
    </div>
  </div>
</div>