<div class="loginPage" *ngIf="!loggedIn">

  <!-- Input card -->
  <mat-card>
    <mat-card-content>
      <form name="userform" method="post" #formCtrl="ngForm">
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input type="email" name="email" matInput [(ngModel)]="email">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Password</mat-label>
          <input type="password" name="password" matInput [(ngModel)]="password">
        </mat-form-field>

        <button class="forgotButton" mat-outlined-button (click)="forgotPassword()">Forgot :(</button>

        <button class="login-signup-button" color="primary" mat-flat-button (click)="logIn()"
          cdkFocusInitial>Login</button>
        <button class="login-signup-button" color="accent" mat-flat-button (click)="signUp()">Sign Up</button>

      </form>
    </mat-card-content>
  </mat-card>

  <!-- Processing overlay -->

  <div class="processing" *ngIf="processing">
    <mat-spinner></mat-spinner>
  </div>

  <div class="error" *ngIf="error">
    ERROR: {{error}}
    <button type="button" (click)="confirmError()">Just great.</button>
  </div>

</div>

<div class="background-logo mdc-theme--primary" *ngIf="!loggedIn">CLIPZ</div>